<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <title>{{ page_title ? page_title ~ ' | ' : '' }}{{ title }}</title>
        <meta name="description" content="{{ description }}" />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Roboto:wght@400;700&display=swap" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="/css/app.css" />
        <link rel="icon" href="/img/favicon.ico" />
    </head>
    <body class="{{ body_class }}">
        <a href="#main-content" class="skip-to-content">Passer au contenu</a>

        {% include 'partials/header.twig' %}

        {% block page %}{% endblock %}

        {% include 'partials/footer.twig' %}
        {% include '.sagrada/debug-static-nav.twig' %}

        <script src="/js/app.bundle.js"></script>
    </body>
</html>
