// ** Mixins **

@mixin headings {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        @content;
    }
}

// Clearfix
@mixin clearfix {
    &::before,
    &::after {
        content: "";
        display: table;
        line-height: 0;
    }
    &::after {
        clear: both;
    }
}

// Visuallyhidden
@mixin visuallyhidden($hide: true) {
    @if $hide == true {
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
    } @else {
        overflow: visible;
        clip: auto;
        width: auto;
        height: auto;
        margin: 0;
    }
}

// REM font-size and line-height
@mixin rem-typo($font) {
    font-size: rem($font);
}

// Transitions
@mixin transition($properties...) {
    transition-property: $properties;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-duration;
}
