// -- Transitions --
$transition-duration: 350ms;
$transition-timing-function: ease-in-out;

// -- Fonts --
// -- Fonts --s
$f-alfa-slab-one: "Alfa Slab One", cursive;
$f-roboto: "Roboto", sans-serif;
