{% if config.showDebugStaticNav %}

<!-- DEBUG -->
<nav style="position: fixed; bottom: 0; left: 0; width: 100%; padding: 14px 20px; background-color: #000000; text-align: center; z-index: 99;">
    <ul>
        {% for page in get_static_pages() %}
            <li style="display: inline-block; vertical-align: middle; margin: 0 8px; font-size: 12px; line-height: 12px;">
                <a href="/{{ page }}" style="color: #fff; text-transform: uppercase; text-decoration: none;">{{ page|replace({'.html': ''}) }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>
<!-- END DEBUG -->

{% endif %}
