// ** Accessibility **

// Go to content link
.skip-to-menu,
.skip-to-content {
    z-index: 100;
    position: fixed;
    top: 6px;
    left: 6px;
    background-color: $c-body-bg;
    @include visuallyhidden;
    // Reset style on focus
    &:focus {
        @include visuallyhidden(false);
    }
}

// Disable default outline
:focus {
    outline: none;
    // Custom outline color
    [data-whatintent="keyboard"] & {
        box-shadow: 0 0 0 1px #fff, 0 0 0 3px #000, 0 0 0 4px #fff !important;
    }
}
