// Hide an element from the screen
.visuallyhidden {
    @include visuallyhidden;
}

// Force element to self-clear its children
.clearfix {
    @include clearfix;
}

// Text selection
::selection {
    color: $color-white;
    background: $color-black;
    text-shadow: none;
}
